<section class="content-main container">
    <div class="content-header">
        <h2 class="content-title">Customization</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">

                    <form id="changeBanner">
                        <div class="mb-4">


                            <div class="mb-4">
                                <div class="col-sm-6 mb-3">
                                    <h6 class="text-muted">Banner1</h6>
                                    <div class="fileinput fileinput-new text-center">
                                        <div class="fileinput-new thumbnail">
                                            <img src="/img/core-img/placeholder-image.png" id="chekPreview1" alt="...">

                                        </div>
                                        <div>
                                            <span class="btn btn-rose btn-round btn-file">
                                                <span class="fileinput-new"></span>
                                                <input type="file" id="image1"
                                                    accept="image/gif, image/jpeg, image/png" />
                                                <textarea name="image1_b64" id="imageValue1" cols="30" rows="10"
                                                    hidden></textarea>
                                            </span>
                                        </div>
                                        <p id="format_err1" class="text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="col-sm-6 mb-3">
                                    <h6 class="text-muted">Banner2</h6>
                                    <div class="fileinput fileinput-new text-center">
                                        <div class="fileinput-new thumbnail">
                                            <img src="/img/core-img/placeholder-image.png" id="chekPreview2" alt="...">

                                        </div>
                                        <div>
                                            <span class="btn btn-rose btn-round btn-file">
                                                <span class="fileinput-new"></span>
                                                <input type="file" id="image2"
                                                    accept="image/gif, image/jpeg, image/png" />
                                                <textarea name="image2_b64" id="imageValue2" cols="30" rows="10"
                                                    hidden></textarea>
                                            </span>
                                        </div>
                                        <p id="format_err1" class="text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal 1-->
                            <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="img-container">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <img src="" id="sampleImage1" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="preview" id="preview1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal  1 end-->
                            <!-- Modal 2-->
                            <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="img-container">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <img src="" id="sampleImage2" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="preview" id="preview2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" id="crop2" class="btn btn-primary">Crop</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal  2 end-->

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Change
                                    Banner</button>
                                <p id="error-message" class="text-danger"></p>
                            </div>
                    </form>
                </div>
                <div class="col-md-8">
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>
<script>
    let img1; let img2;
    let Img1; let Img2;
    document.getElementById('image1').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img1 = true
            var image1 = document.getElementById('sampleImage1');
            var modal1 = $('#modal1');
            var cropper1;
            var files = event.target.files;
            var done = function (url) {
                image1.src = url;
                modal1.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }
            modal1.on('shown.bs.modal', function () {
                cropper1 = new Cropper(image1, {
                    aspectRatio: 2.49,
                    viewMode: 1,
                    preview: '#preview1'
                });
            }).on('hidden.bs.modal', function () {
                cropper1.destroy();
                cropper1 = null;
            });

            $('#crop1').click(function () {
                canvas = cropper1.getCroppedCanvas({
                    width: 400,
                    height: 400
                });
                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;

                        modal1.modal('hide');
                        img1 = base64data
                        $("#imageValue1").val(base64data)
                        console.log(img1)
                        $('#chekPreview1').attr('src', base64data);
                    };
                });
            });
        } else {
            Img1 = false
            document.getElementById('format_err1').innerHTML = "invalid format"
        }
    }
    document.getElementById('image2').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img2 = true
            var image2 = document.getElementById('sampleImage2');
            var modal2 = $('#modal2');
            var cropper2;

            var files = event.target.files;

            var done = function (url) {
                image2.src = url;
                modal2.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }
            modal2.on('shown.bs.modal', function () {
                cropper2 = new Cropper(image2, {
                    aspectRatio: 2.49,
                    viewMode: 1,
                    preview: '#preview2'
                });
            }).on('hidden.bs.modal', function () {
                cropper2.destroy();
                cropper2 = null;
            });

            $('#crop2').click(function () {
                canvas = cropper2.getCroppedCanvas({
                    width: 400,
                    height: 400
                });

                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;
                        modal2.modal('hide');
                        img2 = base64data
                        $("#imageValue2").val(base64data)
                        console.log(img2)
                        $('#chekPreview2').attr('src', base64data);
                    };
                });
            });
        } else {
            Img2 = false
            document.getElementById('format_err2').innerHTML = "invalid format"
        }
    }

    $('#changeBanner').on("submit", (e) => {
        e.preventDefault()
        let data = $("#changeBanner")[0];
        let formData = new FormData(data);
        formData.append('data', data);
        formData.append('img1', img1)
        formData.append('img2', img2)
        $.ajax({
            url: "/admin/customization",
            data: formData,
            method: "post",
            enctype: 'multipart/formdata',
            processData: false,
            contentType: false,
            success: function (response) {
                // alert("Form submitted successfully")
                if (response.status == true) {
                    location.reload()
                } else {
                    $("#submit-pmessage").html("fill the fields");
                }

            },
            error: function (err) {
                // alert("Something Error")
            }
        })
    })





























</script>