<section class="content-main container">
    <div class="content-header">
        <h2 class="content-title">Categories</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form action="/admin/createCategory" method="POST">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Category</label>
                            <input type="text" name="category" placeholder="Type here" class="form-control"
                                id="product_cat" />
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Sub Category</label>
                            <input type="text" name="subcategory" placeholder="Type here" class="form-control"
                                id="product_subcat" />
                        </div>
                        {{!-- <div class="mb-4">
                            <label for="product_slug" class="form-label">Type</label>
                            <input type="text" name="type" placeholder="Type here" class="form-control"
                                id="product_type" />
                        </div> --}}
                        <div class="mb-4">
                            <label class="form-label">Type</label>
                            <select name="type" class="form-select" id="product_type">
                                <option value=""></option>

                                <option value="retailandvet">Retail and vet</option>
                                <option value="accessories">Accessories</option>
                            </select>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">

                    <table class="table table-hover">
                        <thead>

                            <tr>
                                <th>Category</th>
                                <th>Sub category</th>
                                <th>Type</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each details}}
                            <tr>
                                <td>{{this.category}}
                                </td>
                                <td><b>{{#each this.subcategory}}{{this.name}} <br />{{/each}}</b></td>

                                <td>{{#each this.type}}{{this.name}}<br /> {{/each}}</td>
                                <td class="text-end">
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                                class="material-icons md-more_horiz"></i> </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-danger"
                                                href="/admin/delete-category/{{this._id}}">Delete</a>
                                        </div>
                                    </div>
                                    <!-- dropdown //end -->
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->