<section class="content-main container">
    <div class="content-header">
        <h2 class="content-title">Categories</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form action="/admin/createCategory" onsubmit="return valcategory()" method="POST">
                        {{!-- <div class="mb-4">
                            <label for="product_name" class="form-label">Category</label>
                            <input type="text" name="category" placeholder="Type here" class="form-control"
                                id="product_cat" />
                        </div> --}}
                        <div class="mb-4">
                            <label class="form-label">Category</label>
                            <select name="category" class="form-select" id="product_cat">
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>

                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Sub Category</label>
                            <input type="text" name="subcategory" placeholder="Type here" class="form-control"
                                id="product_subcat" />
                            <p id="error-cname" class="text-danger"></p>
                        </div>
                        {{!-- <div class="mb-4">
                            <label for="product_slug" class="form-label">Type</label>
                            <input type="text" name="type" placeholder="Type here" class="form-control"
                                id="product_type" />
                        </div> --}}
                        <div class="mb-4">
                            <label class="form-label">Type</label>
                            <select name="type" class="form-select" id="product_type">
                                <option value="">select</option>

                                <option value="retailandvet">Retail and vet</option>
                                <option value="accessories">Accessories</option>
                            </select>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                            <p id="error-message" class="text-danger"></p>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">

                    <table class="table table-hover">
                        <thead>

                            <tr>
                                <th>Category</th>
                                <th>Sub category</th>
                                <th>Type</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each details}}
                            <tr>
                                <td>{{this.category}}
                                </td>
                                <td><b>{{#each this.subcategory}}{{this.name}} <br />{{/each}}</b></td>

                                <td>{{#each this.type}}{{this.name}}<br /> {{/each}}</td>
                                <td class="text-end">
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                                class="material-icons md-more_horiz"></i> </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-danger"
                                                href="/admin/delete-category/{{this._id}}">Delete</a>
                                        </div>
                                    </div>
                                    <!-- dropdown //end -->
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
<script>
    var product_cat = false; var product_subcat = false; var product_type = false;
    $("#product_cat").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 2 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#").text("Invalid Name");
            product_cat = false;
        } else {
            product_cat = true;
            $("#").text(" ");

        }
    })
    $("#product_subcat").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 2 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#error-cname").text("fill the field");
            product_subcat = true;
        } else {
            product_subcat = true;
            $("#error-cname").text(" ");

        }
    })
    $("#product_type").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 2 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#").text("Invalid Name");
            product_type = false;
        } else {
            product_type = true;
            $("#").text(" ");

        }
    })
    console.log(product_cat)
    console.log(product_subcat)
    console.log(product_type)



    function valcategory() {
        if (product_cat == true && product_subcat == true && product_type == true) {
            return true
        } else {
            $("#error-message").text("fill the fields");
            return false;
        }
    }
</script>