<section class="content-main" style="max-width: 720px">

    <div class="content-header">
        <h2 class="content-title">Create product</h2>
        <div>
            <button class='btn btn-danger me-m-2' type='button'><a href="/admin/addproduct"
                    style="text-decoration: none; color:white">Discard</a></button>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form id="addproduct">

                <div class="mb-4">
                    <label for="product_name" class="form-label">Product Name</label>
                    <input type="text" name="product" placeholder="Type here" class="form-control" id="product_name">
                    <p id="error-adprod" class="text-danger"></p>

                </div>
                <div class="mb-4">
                    <label class="form-label">Full description</label>
                    <textarea placeholder="Type here" name="description" id="product_des" class="form-control"
                        rows="4"></textarea>
                    <p id="error-addes" class="text-danger"></p>

                </div>
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label for="product_name" class="form-label">Category</label>

                        <select class="form-select" name="category" id="maincat" required>
                            <option> select </option>
                            {{#each details}}
                            <option id="dog" value="{{this.category}}"> {{this.category}} </option>
                            {{/each}}
                        </select>

                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub category</label>

                        <select id="subcategory" name="subcategory" class="form-select">
                            <option> select </option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Type</label>
                        <select class="form-select" id="subtype" name="type">
                            <option> select </option>
                        </select>
                    </div>

                </div> <!-- row.// -->
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Price</label>
                        <input placeholder="" name="price" id="product_price" type="number" class="form-control">
                        <p id="error-adprice" class="text-danger"></p>

                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Qty</label>
                        <input placeholder="" name="quantity" id="product_qty" type="number" class="form-control">
                        <p id="error-adqty" class="text-danger"></p>

                    </div>
                </div>

                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Thumbnail</label>
                        <input name="img1" id="img1" class="form-control" type="file">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #1</label>
                        <input name="img2" id="img2" class="form-control" required type="file">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #2</label>
                        <input name="img3" id="img3" class="form-control" required type="file">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #3</label>
                        <input name="img4" id="img4" class="form-control" required type="file">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #4</label>
                        <input name="img5" id="img5" class="form-control" required type="file">
                    </div>
                </div>
                <button type="submit" id="subbtn" class="btn btn-primary">Submit</button>
                <p id="submit-pmessage" class="text-danger"></p>

            </form>
        </div>
    </div> <!-- card end// -->


</section> <!-- content-main end// -->



<script>
    document.getElementById('maincat').onchange = e => {
        console.log(e.target.value)
        let detail = e.target.value
        $.ajax({
            url: "/admin/getSubcategory",
            method: "POST",
            data: { detail },
            success: function (response) {
                console.log(response.category.subcategory[0])
                document.getElementById('subcategory').innerHTML = '';
                document.getElementById('subtype').innerHTML = '';
                // console.log(response.category.type[0])
                for (let i = 0; i < response.category.subcategory.length; i++) {
                    let element = `<option value= "${response.category.subcategory[i].name}" > ${response.category.subcategory[i].name} </option>`
                    let typeelement = `<option value= "${response.category.type[i].name}" > ${response.category.type[i].name} </option>`
                    document.getElementById('subcategory').innerHTML += element
                    document.getElementById('subtype').innerHTML += typeelement
                }

            }
        })

    }


    //disable button

    var product_name = false; var product_des = false; var product_price = false; product_qty = false;
    $("#product_name").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 5 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#error-adprod").text("Product name should be more than 5 characters");
            product_name = false;
        } else {
            product_name = true;
            $("#error-adprod").text(" ");

        }
    })
    $('#product_des').blur(function () {
        var password = $(this).val()
        if (password.length < 10) {
            $("#error-addes").text("Min 10 characters needed");
            product_des = false;
        } else {
            product_des = true;
            $("#error-addes").text(" ");
        }
    })
    $('#product_price').on('input', function () {
        this.value = this.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');
        var price = $(this).val()
        if (price.length < 1) {
            $("#error-adprice").text("Min 1 input needed");
            product_price = false;
        } else {
            product_price = true;
            $("#error-adprice").text(" ");
        }
    })
    $('#product_qty').on('input', function () {
        this.value = this.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');
        var password = $(this).val()
        if (password.length < 1) {
            $("#error-adqty").text("Min 1 input needed");
            product_qty = false;
        } else {
            product_qty = true;
            $("#error-adqty").text(" ");
        }
    })
    $('#addproduct').on("submit", (e) => {
        e.preventDefault()
        console.log(product_name)
        console.log(product_des)
        console.log(product_price)
        console.log(product_qty)

        if (product_name == true && product_des == true && product_price == true && product_qty == true) {
            let data = $("#addproduct")[0];
            let formData = new FormData(data);
            var file1 = $('#img1')[0].files[0];
            var file2 = $('#img2')[0].files[0];
            var file3 = $('#img3')[0].files[0];
            var file4 = $('#img4')[0].files[0];
            var file5 = $('#img5')[0].files[0];



            formData.append('data', data);
            formData.append('file1', file1)
            formData.append('file2', file2)
            formData.append('file3', file3)
            formData.append('file4', file4)
            formData.append('file5', file5)
            console.log(formData)
            $.ajax({
                url: "/admin/add-product",
                data: formData,
                method: "post",
                enctype: 'multipart/formdata',
                processData: false,
                contentType: false,
                success: function (response) {
                    // alert("Form submitted successfully")
                    if (response.status == true) {
                        location.reload()
                    } else {
                        $("#submit-pmessage").html("fill the fields");
                    }

                },
                error: function (err) {
                    alert("Something Error")
                }
            })
        } else {
            $("#submit-pmessage").html("Fill the Fields");
        }

    })


</script>