<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from www.ecommerce-admin.com/demo/page-index-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Sep 2021 07:00:23 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sample title - Ecommerce admin dashboard template</title>

    <link href="/images admin/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link href="/css admin/bootstrapf9e3.css?v=1.1" rel="stylesheet" type="text/css" />

    <!-- custom style -->
    <link href="/css admin/uif9e3.css?v=1.1" rel="stylesheet" type="text/css" />
    <link href="/css admin/responsivef9e3.css?v=1.1" rel="stylesheet" />

    <!-- iconfont -->
    <link rel="stylesheet" href="/fonts admin/material-icon/css/round.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{!-- 00 --}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4f9ff9a3d7.js" crossorigin="anonymous"></script>

    {{!-- --}}
    <link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />

    <script src="https://unpkg.com/dropzone"></script>
    <script src="https://unpkg.com/cropperjs"></script>


    {{!-- 00 --}}
</head>

<body>
    <b class="screen-overlay"></b>

    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="page-index-1.html" class="brand-wrap">
                <img src="/img/core-img/logo.png" height="46" class="logo" alt="Ecommerce dashboard template">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div> <!-- aside-top.// -->

        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product Management</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Category Management</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupon and offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/offers">Coupons</a>
                        <a href="page-transactions-B.html">Transaction 2</a>
                    </div>
                </li>


            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">

        <header class="main-header navbar">
            <div class="col-search mt-2">
                <h5>Hi, <span style="color: rgb(143, 0, 0);">Admin</span></h5>
                {{!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i>
                        </button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="Pedigree">
                        <option value="Royal Canin">
                    </datalist>
                </form> --}}
            </div>
            <div class="col-nav ">

                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="md-28 material-icons md-menu"></i> </button>
                <button class='btn btn-danger' type='button'><a href="/admin/logout"
                        style="text-decoration: none; color:white">Logout</a></button>
                {{!-- <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" onclick="darkmode(this)" title="Dark mode" href="#"> <i
                                class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#"> <i class="material-icons md-notifications_active"></i>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#"> English </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"> <img class="img-thumbnail"
                                src="/img/core-img/user.svg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">My profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item text-danger" href="/admin/logout">Logout</a>
                        </div>
                    </li> --}}
                    {{!--
                </ul> --}}
            </div>
        </header>

        <script src="/js/script.js"></script>
        <script src="/js admin/jquery-3.5.0.min.js"></script>
        <script src="/js admin/bootstrap.bundle.min.js"></script>

        <!-- ChartJS files-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- Custom JS -->
        <script src="/js admin/scriptc619.js?v=1.0" type="text/javascript"></script>
</body>