<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href=""><img src="img/core-img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a>
                            <div class="megamenu">
                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/bg-dog.jpg" alt="">
                                </div>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Dog's Products</li>
                                    <li><a href="shop.html">Retail & Vet Products</a></li>
                                    <li><a href="shop.html">Accessories & Grooming</a></li>

                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/bg-cat.png" alt="">
                                </div>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Cat's Products</li>
                                    <li><a href="shop.html">Retail & Vet Products</a></li>
                                    <li><a href="shop.html">Accessories & Grooming</a></li>

                                </ul>


                            </div>
                        </li>
                        <li><a href="blog.html">My Orders</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            {{!-- <div class="search-area">
                <form action="#" method="post">
                    <input type="search" name="search" id="headerSearch" placeholder="Search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div> --}}
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="img/core-img/heart.svg" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">

                <a class="ddbtn" href="#"><img src="img/core-img/user.svg" alt=""></a>
                <div class="ddcontent">
                    <div> <a href="#"><img src="img/core-img/user.svg" alt="">User</a></div>
                    <div><a href="/register">Signup</a></div>

                </div>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="#" id="essenceCartBtn"><img src="img/core-img/bag.svg" alt=""> <span>0</span></a>
            </div>
        </div>

    </div>
</header>