.ddbtn{
    background-color: #FFFFFF;
    color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}

  .ddcontent {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .ddcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 20px !important;
  }
  .ddcontent a:hover {background-color: #FFFFFF;}
  .user-login-info:hover .ddcontent {display: block;}
  .user-login-info:hover .ddbtn {background-color: #FFFFFF;}
  #signup{
    color: rgb(143, 0, 0);
  }
  .upin{
    color: rgb(143, 0, 0);
    font-size: medium;
    font-weight: 500;
  }
  .upin:hover{
  text-decoration: underline;

  }
  /* social icons start */
  /* .socialmain{
    display: flex;

  }
  .socialmain div{
    margin-left: 40px;
    padding: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
  }
  .socialmain div i{
    color: white;
    transition: all 0.4s;
  }
  .socialmain div:hover{
    background-color: white;
  }
  .socialmain div:hover>i{
    color: rgb(143, 0, 0);
    transform: rotate(360deg);
  }
  .socialmain div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgb(143, 0, 0);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.4s;
  }
  .socialmain div:hover::before{
   filter: blur(10px);
  } */
  /* social icons end */
  

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/*  */
#about_body{
  margin-top:20px;
  color: #c0c2c4;
  
}
.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: rgb(34, 34, 34)
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: rgb(0, 0, 0);
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: rgb(143, 0, 0);
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: rgb(143, 0, 0)
}


/*  */
.img-avatar {
  border-radius: 100%;
  border: 3px solid #fff;
}
/*  */





.card-1 {
  box-shadow: 2px 2px 10px 0px rgb(150, 150, 150)
}

.change-color {
  color: #830000 !important
}

.card-2 {
  box-shadow: 1px 1px 3px 0px rgb(112, 115, 139)
}

.small {
    letter-spacing: 0.5px !important
}


/* .rounded {
  border-radius: 2.25rem !important
} */

.progress-bar {
  background-color: rgb(143, 0, 0) !important
}

.progress {
  height: 5px !important;
  margin-bottom: 0
}

.profile-badge{
  border:1px solid #c1c1c1;
  padding:5px;
  position: relative;
}

.profile-pic{
  /* position: absolute; */
  height:120px;
  width:120px;
  left: 50%;
  /* transform: translateX(-50%); */
  /* top: 0px; */
  /* z-index: 1001; */
  /* padding: 10px; */
}
.profile-pic img{
  border-radius: 100%;
  box-shadow: 0px 0px 5px 0px #c1c1c1;
  cursor: pointer;
  width: 100px;
  height: 100px;
 background-image: url("/img/bg-img/My\ Post\ \(4\).png");
}   



