<div class="breadcumb_area bg-img">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Our Dog Nutrition Range</h2>
                    <p>Our full range of wet and dry foods offer precise nutrition for dogs of all ages, sizes and
                        breeds.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">




                    {{!-- <div class="widget color mb-50">
                        <!-- Widget Title 2 -->


                    </div> --}}

                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-20">Catagories</p>
                        <ul>
                            <li><a href="#">Junior</a></li>
                            <li><a href="#">Adult</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Vet Products</a></li>
                        </ul>



                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                {{!-- <div class="total-products">
                                    <p><span>186</span> products found</p>
                                </div> --}}
                                <!-- Sorting -->
                                {{!-- <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div> --}}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        {{#each products}}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="/uploads/image-1/{{this._id}}.jpg" alt=""
                                        style="height: 200px; width: 150px;">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/uploads/image-2/{{this._id}}.jpg" alt=""
                                        style="height: 200px; width: 150px;">

                                    <!-- Product Badge -->
                                    {{!-- <div class="product-badge offer-badge">
                                        <span>-30%</span>
                                    </div> --}}
                                    <!-- Favourite -->
                                    <div class="product-favourite">
                                        <a href="#" class="favme fa fa-heart"></a>
                                    </div>
                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>paw paw</span>
                                    <a href="#">
                                        <h6>{{this.product}}</h6>
                                    </a>
                                    <p class="product-price"><span class="old-price"></span>₹ {{this.price}}</p>
                                    <div class="p-1"><button type="button" class="btn btn-outline-danger btn-sm">Add to
                                            bag</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm">Buy Now</button>
                                    </div>
                                    <!-- Hover Content -->
                                    {{!-- <div class="hover-content row gx-2 container">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn col">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                        <div class="add-to-cart-btn col">
                                            <a href="#" class="btn essence-btn">Buy Now</a>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
                <!-- Pagination -->
                {{!-- <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav> --}}
            </div>
        </div>
    </div>
</section>