<section>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>My Bag</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area  ">
        <div class="container">
            <div class="row">
                {{!-- --}}
                <div class="container mt-5 p-3 rounded cart">
                    <div class="row no-gutters">
                        <div class="col-md-8 col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="product-details mr-2">

                                <hr>
                                <h6 class="mb-0">Shopping cart</h6>
                                <div class="d-flex justify-content-between"><span>You have 4 items in your bag</span>

                                </div>
                                <div
                                    class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded shadow-sm">

                                    <div class="d-flex flex-row"><img class="rounded"
                                            src="https://i.imgur.com/QRwjbm5.jpg" width="40"><a href="#home"></a>
                                        <a href="" style="color: white;">Iphone 11</a>
                                        <div class="ml-2"><span class="font-weight-bold d-block">Iphone 11
                                                pro</span><span class="spec">256GB, Navy Blue</span></div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center"><span class="d-block">2</span><span
                                            class="d-block ml-5 font-weight-bold">$900</span><a href=""><i
                                                class="fa fa-trash-o ml-3 text-black-50"></i></a></div>
                                </div>

                            </div>
                        </div>
                        {{!-- --}}

                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="order-details-confirmation">
                                <div class="cart-page-heading">
                                    <h5>Your Order</h5>
                                    <p>The Details</p>
                                </div>
                                <ul class="order-details-form mb-4">
                                    <li><span>Product</span> <span>Total</span></li>
                                    <li><span>Cocktail Yellow dress</span> <span>$59.90</span></li>
                                    <li><span>Subtotal</span> <span>$59.90</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span>Total</span> <span>$59.90</span></li>
                                </ul>
                                <a href="#" class="btn essence-btn">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Checkout Area End ##### -->
</section>

{{!--
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script> --}}