<!-- ##### Breadcumb Area Start ##### -->
<section>
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>My Orders</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Checkout Area Start ##### -->
    {{!-- --}}
    <div class="container-fluid my-5 d-flex justify-content-center">
        <div class="card card-1">
            <div class="card-header bg-white">

            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto">
                    </div>
                </div>
                {{#each orders}}
                <div class="row mt-4">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="sq align-self-center "> <img
                                            class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                            src="/img/core-img/cart.872edcc.png" width="80" height="90" /> </div>
                                    <div class="media-body my-auto text-right">
                                        <div class="row my-auto flex-column flex-md-row">
                                            <div class="col-auto my-auto ">
                                                <h6 class="mb-0"><span
                                                        class="badge rounded-pill alert-success">{{this.status}}</span>
                                                </h6>
                                            </div>
                                            <div class="col"><small>{{this.date}}</small>
                                            </div>
                                            <div class="col my-auto ">
                                                <h6 class="mb-0">₹ {{this.amount}}</h6>
                                            </div>
                                            <div class="col"> <a href="/view-order/{{this._id}}">
                                                    <div class="btn btn-outline-dark">order info</div>
                                                </a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
            <div class="card-footer">
                <div class="jumbotron-fluid">
                    <div class="row justify-content-between ">

                        <div class="col-auto my-auto ">

                        </div>

                    </div>
                    <div class="row mb-3 mt-3 mt-md-0">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- --}}