<section class="vh-100">
    <div class="container-fluid "><a href="/user-signin" id="otp" style="background-color: #ececec;
  color: rgb(46, 46, 46); text-decoration: none;
  display: inline-block;
  padding: 8px 16px;" class="previous">&laquo; Login</a></div>
    <div class="container-fluid h-custom">
        <h1 id="signup" class="d-flex justify-content-center pt-3 fw-3"></h1>
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5 pl-7 ">
                <img src="/img/bg-img/bg-signin.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


                <div>
                    <div class="form-group mx-sm-3 mb-2">

                        <input type="tel" name="phone" class="form-control" style="height: 60px;" id="otp_number"
                            placeholder="Phone" maxlength="10">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="tel" name="otp" class="form-control" style="height: 60px;" id="OTP_code"
                            placeholder="OTP">
                    </div>
                    <a id="previous" href="/user-signin" style="display: none;">
                        <p class="upin">Go back to login page</p>
                    </a>

                    <p id="countdowns"></p>
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="button" onclick=" sendnumbersignin()" id="confirm"
                            class="essence-btn-sm mb-2">Verify</button>
                        <button type="button" onclick=" sendnumbersignin()" id="resend" class="essence-btn-sm mb-2"
                            style="display: none;">Resend</button>
                        <button type="button" onclick="signinenterotp()" id="confirmotp" class=" essence-btn-sm mb-2"
                            style="display: none;">Confirm</button>
                    </div>
                </div>
                {{!-- <div class="form-group mx-sm-3 mb-2">
                    <button type="button" id="confirmotp" onclick="signinenterotp()" style="display: none;"
                        class=" essence-btn-sm mb-2">Confirm</button>
                </div> --}}
                <p id="countdown"></p>
            </div>
        </div>
    </div>
</section>


<script>
    function sendnumbersignin() {
        let number = document.getElementById('otp_number').value
        console.log(number)
        if (submitphone == true) {
            $.ajax({
                url: "/enterotp",
                data: { number },
                method: "post",
                success: function (response) {
                    if (response.number == true) {
                        document.getElementById('confirm').style.display = 'none'
                        const startingMinutes = 2;
                        let time = startingMinutes * 60;

                        const countdownEl = document.getElementById('countdown')
                        let int = setInterval(updateCountdown, 1000);

                        function updateCountdown() {
                            const minutes = Math.floor(time / 60);
                            let seconds = time % 60;
                            if (minutes == 0 && seconds == 0) {
                                clearInterval(int)
                                document.getElementById('countdown').style.display = 'none'
                                document.getElementById('confirm').style.display = 'none'
                                document.getElementById('confirmotp').style.display = 'none'
                                document.getElementById('resend').style.display = ''
                            } else {
                                document.getElementById('countdown').style.display = ''
                                document.getElementById('confirmotp').style.display = ''
                                document.getElementById('resend').style.display = 'none'
                            }
                            seconds = seconds < 10 ? '0' + seconds : seconds;
                            countdownEl.innerHTML = `${minutes}:${seconds}`;
                            time--;
                        }
                    } else if (response.number == false) {
                        Swal.fire("User not Exist")

                    }

                },
                error: function (err) {
                    // alert("Something Error")
                }
            })
        } else {
            Swal.fire("Invalid number")
        }
    }

    /////
    function signinenterotp() {
        let otp = document.getElementById('OTP_code').value
        console.log(otp)
        $.ajax({
            url: "/verifyotp",
            data: { otp },
            method: "post",
            success: function (response) {
                if (response.login == true) {
                    location.href = "/"
                } else if (response.login == false) {
                    Swal.fire("Invalid OTP")
                }

            },
            error: function (err) {
                // alert("Something Error")
            }
        })
    }

    let submitphone;
    $('#otp_number').on('input', function () {
        this.value = this.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');
        var phone = $(this).val()
        if (phone.length < 10) {
            submitphone = false;
            $("#error-phone").html("Invalid Number");

        } else {
            submitphone = true;
            $("#error-phone").html(" ");

        }
    })











</script>