<section class="vh-100">

    <div class="container-fluid h-custom">
        <h1 id="signup" class="d-flex justify-content-center pt-3 fw-3">Signup</h1>
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5 p-5">
                <img src="/img/bg-img/bg-signup.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/signup" method="POST">

                    <div class="pt-5">


                        <!-- Username input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">USERNAME</label>
                            <input type="text" id="form3Example3" name="username" class="form-control form-control-lg"
                                placeholder="Username" />

                        </div>

                        <!-- E-mail input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">Email</label>
                            <input type="text" id="form3Example3" name="username" class="form-control form-control-lg"
                                placeholder="E-mail" />

                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">PASSWORD</label>
                            <input type="password" name="password" id="form3Example4"
                                class="form-control form-control-lg" placeholder="Password" />
                        </div>
                        <div>
                            <a href="/user-signin">
                                <p class="upin">Already have an account.</p>
                            </a>
                        </div>

                        {{!-- <div class="socialmain">
                            <div><i class="favme fa fa-google fa-2x"></i></div>
                            <div><i class="favme fa fa-facebook fa-2x"></i></div>

                        </div> --}}





                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-outline-dark"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Signup</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>