<section class="vh-100">

    <div class="container-fluid h-custom">
        <h1 id="signup" class="d-flex justify-content-center pt-3 fw-3">Signup</h1>
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5 p-5">
                <img src="/img/bg-img/bg-signup.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div id="otp_signup">
                <div class="form-group mx-sm-3 mb-2">

                    <input type="tel" name="phone" class="form-control" style="height: 60px;" id="otpsignup"
                        placeholder="Phone">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="tel" name="otp" class="form-control" style="height: 60px;" id="signupsotp"
                        placeholder="OTP">
                </div>
                <a id="previous" href="/user-signin" style="display: none;">
                    <p class="upin">Go back to login page</p>
                </a>

                <p id="countdowns"></p>
                <div class="form-group mx-sm-3 mb-2">
                    <button type="button" onclick="sendnumber()" id="verifynumber"
                        class="essence-btn-sm mb-2">Verify</button>
                    <button type="button" onclick="sendnumber()" id="resend" class="essence-btn-sm mb-2"
                        style="display: none;">Resend</button>
                    <button type="button" onclick="enterotp()" id="confirmotp" class=" essence-btn-sm mb-2"
                        style="display: none;">Confirm</button>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" id="signupdiv" style="display: none;">

                <form id="signupform">

                    <div class="pt-5">


                        <!-- Username input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">USERNAME</label>
                            <input type="text" id="usersu" name="username" class="form-control form-control-lg"
                                placeholder="Username" />
                        </div>
                        <div class="text-danger h-25 mb-2" id="error-name"></div>

                        <!-- E-mail input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">Email</label>
                            <input type="text" id="mailsu" name="mail" class="form-control form-control-lg"
                                placeholder="E-mail" />

                        </div>
                        <div class="text-danger h-25 mb-2" id="error-email"></div>
                        <div class="form-outline mb-4 shadow-sm">

                            <input type="tel" id="phonesu" maxlength="10" name="phone"
                                class="form-control form-control-lg" placeholder="phone" hidden />
                            <div class="text-danger h-25 mb-2" id="error-phone"></div>
                        </div>


                        <!-- Password input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">PASSWORD</label>
                            <input type="password" name="password" id="passwordsu" class="form-control form-control-lg"
                                placeholder="Password" />
                        </div>
                        <div class="text-danger h-25 mb-2" id="error-password"></div>
                        <div class="text-danger" id="submit-message"></div>
                        <div>
                            <a href="/user-signin">
                                <p class="upin">Already have an account ?</p>
                            </a>
                        </div>

                        {{!-- <div class="socialmain">
                            <div><i class="favme fa fa-google fa-2x"></i></div>
                            <div><i class="favme fa fa-facebook fa-2x"></i></div>

                        </div> --}}


                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-outline-dark"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Signup</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{{!-- validation of signup page --}}


<script>
    let number;
    function sendnumber() {
        number = document.getElementById('otpsignup').value
        console.log(number)
        $.ajax({
            url: "/entersignupnumber",
            data: { number },
            method: "post",
            success: function (response) {
                console.log(response)
                document.getElementById('verifynumber').style.display = 'none'

                if (response.number == true) {
                    const startingMinutes = 1;
                    let time = startingMinutes * 60;

                    const countdownEl = document.getElementById('countdowns')
                    let int = setInterval(updateCountdown, 1000);

                    function updateCountdown() {
                        const minutes = Math.floor(time / 60);
                        let seconds = time % 60;
                        if (minutes == 0 && seconds == 0) {
                            clearInterval(int)
                            document.getElementById('countdowns').style.display = 'none'
                            document.getElementById('verifynumber').style.display = 'none'
                            document.getElementById('confirmotp').style.display = 'none'
                            document.getElementById('resend').style.display = ''
                        } else {
                            document.getElementById('countdowns').style.display = ''
                            document.getElementById('confirmotp').style.display = ''
                            document.getElementById('resend').style.display = 'none'
                        }
                        seconds = seconds < 10 ? '0' + seconds : seconds;
                        countdownEl.innerHTML = `${minutes}:${seconds}`;
                        time--;
                    }
                } else if (response.number == false) {
                    Swal.fire("User Exists with this number")
                    document.getElementById('previous').style.display = ''
                }

            },
            error: function (err) {
                // alert("Something Error")
            }
        })
    }

    function enterotp() {
        let otp = document.getElementById('signupsotp').value
        console.log(otp)
        $.ajax({
            url: "/verifysignupotp",
            data: { otp },
            method: "post",
            success: function (response) {
                if (response.login == true) {
                    document.getElementById('signupdiv').style.display = ''
                    document.getElementById('phonesu').innerHTML = number
                    document.getElementById('phonesu').value = number
                    document.getElementById('otp_signup').style.display = 'none'
                } else if (response.login == false) {
                    Swal.fire("Invalid OTP")
                }

            },
            error: function (err) {
                // alert("Something Error")
            }
        })
    }











</script>