<section class="vh-100">

    <div class="container-fluid h-custom">
        <h1 id="signup" class="d-flex justify-content-center pt-3 fw-3">Login</h1>
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5 pl-7">
                <img src="/img/bg-img/bg-signin.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="signinform">

                    <div class="pt-1">


                        <!-- Username input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">USERNAME</label>
                            <input type="text" id="signinuser" name="username" class="form-control form-control-lg"
                                placeholder="Username" />

                        </div>
                        <p id="error-name" class="text-danger"></p>


                        <!-- Password input -->
                        <div class="form-outline mb-4 shadow-sm">
                            <label class="form-label fs-6">PASSWORD</label>
                            <input type="password" name="password" id="signinpass" class="form-control form-control-lg"
                                placeholder="Password" />
                        </div>
                        <p id="error-password" class="text-danger"></p>
                        <div>
                            <a href="/user-signup">
                                <p class="upin">Don't have an account ?</p>
                            </a>
                            <a href="/otp">
                                <p class="upin">Sign in via OTP</p>
                            </a>
                        </div>
                        {{#if usererr}}
                        <p class="text-danger">Invalid User Id or Password</p>
                        {{else}}
                        <p></p>
                        {{/if}}


                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-outline-dark"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p id="submit-errmessage" class="text-danger"></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    var signinuser = false; var signinpass = false;
    $("#signinuser").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 3 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#error-name").text("Invalid Name");
            signinuser = false;
        } else {
            signinuser = true;
            $("#error-name").text(" ");

        }
    })
    $('#signinpass').blur(function () {
        var password = $(this).val()
        if (password.length < 2) {
            $("#error-password").text("Min 3 input needed");
            signinpass = false;
        } else {
            signinpass = true;
            $("#error-password").text(" ");
        }
    })
    $('#signinform').on("submit", (e) => {
        e.preventDefault()
        console.log(signinuser)
        console.log(signinpass)
        if (signinuser == true && signinpass == true) {
            $.ajax({
                url: "/signin",
                data: $("#signinform").serialize(),
                method: "post",
                success: function (response) {
                    // alert("Form submitted successfully")
                    if (response.status == true) {
                        location.replace('/')
                    } else {
                        $("#submit-errmessage").html("Incorrect username or password");
                    }

                },
                error: function (err) {
                    alert("Something Error")
                }
            })
        } else {
            $("#submit-errmessage").html("Fill the Fields");
        }

    })


</script>